<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coco.draggablegridviewpager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:label="DraggableGridViewPager" >
    </application>

</manifest>